<div class="post-preview" >
  <h1>LIBROS</h1>

  <div id="carousel1" class="carousel slide">
    <div class="carousel-inner">
      <div *ngFor="let item of lista" class="carousel-item active">
        <div class="card text-center" style="width: 50%; background-color: #4F1C1C; margin: auto;">
          <img src="../assets/img/home-bg.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 style="color: white;">" {{item.nombre}} "</h3>
            <p style="color: white;">Edicion: {{item.edicion}}</p>
            <p style="color: white;">Stock: {{item.stock}}</p>
            <p style="color: white;">Editorial: {{item.editorial_id}}</p>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Modaleditar"
              style="margin-left: 5px; background-color: #DFAD84;"  (click)="onClickCodigo(item.codigo)">
              Editar
            </button>
            <a style="margin-left: 5px; background-color: #DFAD84;" class="btn " (click)="onClickBorrar(item.codigo)">Borrar</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgba(147, 147, 147, 0.6);"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgba(147, 147, 147, 0.6);"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="Modaleditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Libro</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onClickUpdateLibro()">
          <div class="mb-3">
            <label for="recipient-codigo" class="col-form-label">Nuevo Codigo:</label>
            <input type="text" class="form-control" id="recipient-codigo" name="codigo_nuevo" [(ngModel)]="nuevoLibro.codigo_nuevo">
          </div>
          <div class="mb-3">
            <label for="recipient-nombre" class="col-form-label">Nuevo Nombre:</label>
            <input type="text" class="form-control" id="recipient-nombre" name="nombre" [(ngModel)]="nuevoLibro.nombre">
          </div>
          <div class="mb-3">
            <label for="recipient-edicion" class="col-form-label">Nueva Edicion:</label>
            <input type="text" class="form-control" id="recipient-edicion" name="edicion" [(ngModel)]="nuevoLibro.edicion">
          </div>
          <div class="mb-3">
            <label for="recipient-stock" class="col-form-label">Nuevo Stock:</label>
            <input type="text" class="form-control" id="recipient-stock" name="stock" [(ngModel)]="nuevoLibro.stock">
          </div>
          <div class="mb-3">
            <label for="recipient-editorialid" class="col-form-label">Nuevo ID Editorial:</label>
            <input type="text" class="form-control" id="recipient-editorialid" name="editorial_id" [(ngModel)]="nuevoLibro.editorial_id">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn" style="background-color: #DFAD84;">Guardar Cambios</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal AVISO-->
<div class="modal fade" id="Modalaviso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modalAviso>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: green;">Libro eliminado con exito</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
